<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.mapper.OrderMapper">
   
	<sql id="order-columns">
		id,orderId,bicyclecode,uName,uTel,useTime,terTime
	</sql>
	
	
	<insert id="add" parameterType="order">
		insert into
		t_order(<include refid="order-columns"></include>)
		values(NULL ,#{orderId},#{bicyclecode},#{uName},
			   #{uTel},#{useTime},#{terTime})
	</insert>
	

	

	<select id="query" parameterType="order"
			resultType="order">
	
		select 
			a.*
		from
		t_order a

			

	</select>


	<update id="update" parameterType="order">
		update
			t_order
		set
			terTime = #{terTime}
		where
			orderId = #{orderId}



	</update>


	<select id="getMaxid" resultType="Integer">
		select Max(id)  from
		t_order
	</select>


	<select id="getOrder" parameterType="java.lang.Integer"
			resultType="order">

		select
		a.*
		from
		t_order a
		WHERE id= #{id}
	</select>

	<select id="acount" resultType="java.lang.Integer">

		select
			count(*)
		from
			t_order
		WHERE to_days(useTime) = to_days(now());
	</select>
	<select id="acount1" resultType="java.lang.Integer">

		select
		count(terTime)
		from
			t_order
		WHERE to_days(terTime) = to_days(now());
	</select>

    <select id="acounta" resultType="java.lang.Integer">

        select
        count(terTime)
        from
        t_order
        WHERE to_days(terTime) = to_days(now())
         AND bicyclecode IN (SELECT bicyclecode FROM t_bicycle WHERE bicycleType =1)
    </select>
    <select id="acountb" resultType="java.lang.Integer">

        select
            count(terTime)
        from
            t_order
        WHERE to_days(terTime) = to_days(now())
              AND bicyclecode IN (SELECT bicyclecode FROM t_bicycle WHERE bicycleType =2)
    </select>
    <select id="acountc" resultType="java.lang.Integer">

        select
            count(terTime)
        from
            t_order
        WHERE to_days(terTime) = to_days(now())
              AND bicyclecode IN (SELECT bicyclecode FROM t_bicycle WHERE bicycleType =3)
    </select>
    <select id="acountd" resultType="java.lang.Integer">

        select
            count(terTime)
        from
            t_order
        WHERE to_days(terTime) = to_days(now())
              AND bicyclecode IN (SELECT bicyclecode FROM t_bicycle WHERE bicycleType =4)
    </select>
</mapper>