<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
		
		<context:property-placeholder location="classpath:jdbc.properties" file-encoding="UTF-8"/>
		<!-- 数据源 -->
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName"
					  value="${jdbc.driverClassName}"/>
	 		<!-- 连接 -->
			<property name="url"
					  value="${jdbc.url}"/>
	 		<!-- 用户名 -->
			<property name="username"
					  value="${jdbc.username}"/>
	 		<!-- 密码 -->
			<property name="password"
					  value="${jdbc.password}"/>
		</bean>
		
		<!-- mybatis -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource"/>
			<property name="mapperLocations">
				<array>
					<value>
					classpath:mapper/*.xml
					</value>
				</array>
			</property>
			<property name="typeAliasesPackage" value="com.etoak.bean"/>

			<property name="plugins">
				<array>
					<bean class="com.github.pagehelper.PageHelper">
						<property name="properties">
							<props>
								<prop key="dialect">mysql</prop>
							</props>
						</property>
					</bean>
				</array>
			</property>

		</bean>
		
		<!-- s扫接口 -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>

			<property name="basePackage" value="com.etoak.mapper"/>

			<property name="annotationClass" value="org.springframework.stereotype.Repository"/>
		</bean>
		
		<!-- 事务管理 -->
		<bean id="tx" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"/>
		</bean>
		
		<!-- 声明式事务 -->
		<tx:annotation-driven proxy-target-class="true" transaction-manager="tx"/>		
</beans>
